asgiref==3.8.1
boto3==1.38.10
botocore==1.38.10
Django==5.2
dj-database-url==2.3.0
django-ckeditor-5==0.2.17
django-crispy-forms==2.4
django-recaptcha==4.1.0
django-jazzmin==3.0.1
django-storages==1.14.6
django-taggit==6.1.0
django-import-export==4.3.7
python-decouple==3.8
whitenoise==6.9.0
shortuuid==1.0.13
django-mathfilters==1.0.0
django-anymail[mailtrap]>=13.0
requests==2.32.0
gunicorn==23.0.0
channels==4.1.0
crispy-bootstrap5==0.7
environs==14.1.1
pillow == 11.2.1
stripe == 12.1.0
shortuuid==1.0.13
